---
import PageLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/Button.astro'

const meta = {
	description: 'Not found',
	title: '404'
}
---

<PageLayout meta={meta}>
	<a
		href='https://github.com/srleom/astro-theme-resume.git'
		class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Get free template</p>
	</a>
	<div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
		<h1 class='block text-7xl font-bold sm:text-9xl'>404</h1>
		<p class='mt-3 text-muted-foreground'>Oops, something went wrong.</p>
		<p class=''>Sorry, we couldn't find your page.</p>
		<Button title='Back to home' href='/' style='button' class='mt-5'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-after'
				class='-scale-x-100'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>
	</div>
</PageLayout>
